<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Vádinei | DB1 | Gumga</title>

<!-- Normalize -->
<link href="/resources/css/normalize.css" rel="stylesheet">

<!-- Bootstrap -->
<link href="/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap Theme -->
<link href="/resources/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

</head>

<body ng-app="gumgaApp">

	<div class="container" ng-controller="PasswordMeterController">

		<div class="row">
			<div class="page-header">
				<h3 class="text-center">José Vádinei Soares | DB1 | Gumga</h3>
			</div>
		</div>

		<div class="row"
			style="border: 1px solid #dcdcdc; padding-top: 10px; padding-bottom: 0px; padding-left: 25px; padding-right: 25px;">
			<h5 style="font-weight: bold;">AVALIADOR DE SEGURANÇA DE SENHA</h5>
			<div class="col-xs-12 jumbotron"
				style="background-color: #f8f8f8; border: 1px solid #dcdcdc; padding-top: 25px; padding-bottom: 25px; padding-left: 20px;">
				<div class="col-xs-5">
					<div class="col-xs-12">
						<input type="text" id="password" ng-model="password" class="form-control" placeholder="Senha"
							ng-keyup="checkPassword()" />
						<h4>
							<span id="score" class="label" ng-class="scoreClass">{{model.score}}%</span> <span id="complexity" class="label"
								ng-class="complexityClass">{{model.complexity}}</span>
						</h4>
						<button type="button" class="btn btn-sm btn-default" style="width: 120px;" ng-click="setDetalhe()">{{labelDetalhe}}</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="border: 1px solid #dcdcdc;" ng-show="statusDetalhe">
			<div class="col-xs-12">
				<div class="col-xs-6">
					<table class="table table-striped">
						<thead>
							<th>ADICIONAIS</th>
							<th>Quantidade</th>
							<th>Bônus</th>
						</thead>
						<tbody>
							<tr>
								<td>Número de Caracteres</td>
								<td>{{model.numberCharacterCount}}</td>
								<td>{{model.numberCharacterBonus}}</td>
							</tr>
							<tr>
								<td>Letras Maiúsculas</td>
								<td>{{model.uppercaseLetterCount}}</td>
								<td>{{model.uppercaseLetterBonus}}</td>
							</tr>
							<tr>
								<td>Letras Minúsculas</td>
								<td>{{model.lowercaseLetterCount}}</td>
								<td>{{model.lowercaseLetterBonus}}</td>
							</tr>
							<tr>
								<td>Números</td>
								<td>{{model.numberCount}}</td>
								<td>{{model.numberBonus}}</td>
							</tr>
							<tr>
								<td>Símbolos</td>
								<td>{{model.symbolCount}}</td>
								<td>{{model.symbolBonus}}</td>
							</tr>
							<tr>
								<td>Número e Símmbolos Internos</td>
								<td>{{model.middleNumberSymbolCount}}</td>
								<td>{{model.middleNumberSymbolBonus}}</td>
							</tr>
							<tr>
								<td>Requisitos</td>
								<td>{{model.requirementsCount}}</td>
								<td>{{model.requirementsBonus}}</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="col-xs-6">
					<table class="table table-striped">
						<thead>
							<th>DEDUÇÕES</th>
							<th>Quantidade</th>
							<th>Bônus</th>
						</thead>
						<tbody>
							<tr>
								<td>Somente Letras</td>
								<td>{{model.lettersOnlyCount}}</td>
								<td>{{model.lettersOnlyBonus * -1}}</td>
							</tr>
							<tr>
								<td>Somente Números</td>
								<td>{{model.numbersOnlyCount}}</td>
								<td>{{model.numbersOnlyBonus * -1}}</td>
							</tr>
							<tr>
								<td>Caracteres Repetidos/Duplicados</td>
								<td>{{model.repeatCharactersCount}}</td>
								<td>{{model.repeatCharactersBonus * -1}}</td>
							</tr>
							<tr>
								<td>Letras Maiúsculas Consecutivas</td>
								<td>{{model.consecutiveUppercaseLetterCount}}</td>
								<td>{{model.consecutiveUppercaseLetterBonus * -1}}</td>
							</tr>
							<tr>
								<td>Letras Minúsculas Consecutivas</td>
								<td>{{model.consecutiveLowercaseLetterCount}}</td>
								<td>{{model.consecutiveLowercaseLetterBonus * -1}}</td>
							</tr>
							<tr>
								<td>Números Consecutivos</td>
								<td>{{model.consecutiveNumbersCount}}</td>
								<td>{{model.consecutiveNumbersBonus * -1}}</td>
							</tr>
							<tr>
								<td>Letras Sequenciais</td>
								<td>{{model.sequentialLettersCount}}</td>
								<td>{{model.sequentialLettersBonus * -1}}</td>
							</tr>
							<tr>
								<td>Números Sequenciais</td>
								<td>{{model.sequentialNumbersCount}}</td>
								<td>{{model.sequentialNumbersBonus * -1}}</td>
							</tr>
							<tr>
								<td>Símbolos Sequenciais</td>
								<td>{{model.sequentialSymbolsCount}}</td>
								<td>{{model.sequentialSymbolsBonus * -1}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>


	</div>

</body>

<script src="/resources/js/jquery/jquery-3.2.1.min.js"></script>
<script src="/resources/bootstrap/js/bootstrap.min.js"></script>

<script src="/resources/js/angular/angular.min.js"></script>
<script src="/resources/js/angular/angular-locale_pt-br.js"></script>
<script src="/resources/js/angular/controller/password-meter-controller.js"></script>

</html>